/*--------------------*/
/*  basic setup */
/*--------------------*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    background-color: #fff;
    color: rgb(rgb(36, 36, 36), green, blue);
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.clearfix {zoom: 1;}
.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*--------------------*/
/*reusable components*/
/*--------------------*/
.row{
    max-width: 1140px;
    margin: 0 auto;
    
}
section{
    padding: 60px 0;
}
.box{
    padding: 1%;
}
/* Headings */
h1, h2 ,h3{
    font-weight: 300;
    text-transform: uppercase;
}
h1{
    margin: 0;
    font-size: 200%;
    word-spacing: 3px;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 20px;
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}
h2::after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
h3{
    font-size: 110%;
    margin-bottom: 15px;
}
/* Paragraphs */
.long-copy{
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
    line-height: 145%;
}
.box p{
    font-size: 90%;
    line-height: 145%;
}
/*icons*/
.icon-big{
    font-size: 250%;
    display: block;
    color: #e67e22;
    margin-bottom: 15px;
}
.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 120%;
    color: #e67e22;
    vertical-align: middle;
    line-height: 120%;
    margin-top: -4px;
}
/*buttons*/
.btn:link ,
.btn:visited,
input[type=submit]{
     margin-right:20px ;
     display: inline-block;
     padding: 10px 30px;
     text-decoration: none;
     border-radius: 200px;
     color: #fff;
}
.btn-full:link ,
.btn-full:visited,
input[type=submit]{
   background-color: #e67e22;
   border: 1px solid #e67e22;

}  
.btn-ghost:link,
.btn-ghost:visited{
   border: 1px solid #e67e22;
   transition: 0.4s;
}
.btn-full:hover,
.btn-full:active,
input[type=submit]{
    background-color: #d35400;
    border: 1px solid #d35400;
    transition: 0.4s;
 
 }
 .btn-ghost:hover,
 .btn-ghost:active{
    border: 1px solid #d35400;
    background-color: #d35400;
 }
.btn-beta:link,
.btn-beta:visited {
    background-color: #f4f4f4;
    border: 1px solid #e67e22;
    color: #e67e22;
    transition: 00.4s;
}
.btn-beta:hover,
.btn-beta:active {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #f4f4f4;
}

/*--------------------*/
/*Header*/
/*--------------------*/
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0,0,0,0.7)), url(img/hero.jpg) ;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.hero-text-box{
    position: absolute; 
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
 }
 .logo{
     height: 100px;
     width: auto;
     float: left;
     margin: 15px 0;
 }
 .logo-black{
     display: none;
     height: 50px;
     width: auto;
     float: left;
     margin: 5px 0;                   
 }

 .main-nav{
     float: right;
     list-style: none;
     margin-top: 40px;
 }
 .main-nav li{
     display: inline-block;
     margin-left: 40px;
 }
 .main-nav li a:link,
 .main-nav li a:visited{
     padding-bottom: 8px;
     color: white;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 90%;
     transition: border-bottom 0.4s;
 }
 .main-nav li a:hover,
 .main-nav li a:active{
     border-bottom: 2px solid #e67e22 ;  
}


.scroll-up{
    display: none;
    height: 50px;
    width: 50px;
    background-color: #e67e22;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    padding: 4px 17px;
    box-shadow: 0 2px 2px #d35400;
    transition: 0.4s;
}
.scroll-up:hover,
.scroll-up:active{
   background-color: #d35400;
}

.scroll-up a,
.scroll-up a{
    text-decoration: none;
    font-size: 150%;
    color: #fff;
    font-weight: 900;
    transition: 0.4s;
}


.show .scroll-up{
    display: block;
}

/*mobile navigation*/

    .mobile-nav-icon{
        display: none;
        float: right;  
        margin-top: 30px; 
        cursor: pointer;
    }
    .stick .mobile-nav-icon{ margin-top: 15px; }
    .mobile-nav-icon-btn{
        font-size: 200%;
        color: #fff;  
    }

    .stick .main-nav{ margin-top: 10px; }

    .stick .main-nav li a:link,
    .stick .main-nav li a:visited{ padding: 10px 0; }

    .stick .mobile-nav-icon-btn{
        color: #000;
    }

/*stick navigation*/

.stick{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 0 2px 2px #efefef;
}
.stick .main-nav{
    margin-top: 18px;
}
.stick .main-nav li a:link,
.stick .main-nav li a:visited{
    padding: 15px 0;
    color: #555;
}
.stick .logo { display: none; }
.stick .logo-black { display: block; }



/*--------------------*/
/*Meals*/
/*--------------------*/
.meals-showcase{
    list-style: none;
    width: 100%;
}
.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}
.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}
.meal-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.4s, opacity 0.4s;
}
.meal-photo img:hover{
    transform: scale(1.3);
    opacity: 1;
}
.section-meals{
    padding-bottom: 0;
}
/*--------------------*/
/*How it works*/
/*--------------------*/
.section-steps{
    background-color:#f4f4f4;
}
.steps-box{
    margin-top: 30px;
}
.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
}
.steps-box:last-child{
    padding-left: 3%;
}
.app-screen{
    width: 40%;
}
.works-step{
    margin-top: 9px;
    margin-bottom: 75px;
    margin-right: 5px;
}
.works-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 10px;
    float: left;
    margin-right: 15px;
}
.btn-app img{
    height: 50px;
    width: auto;
    margin-left: 15px;
}
/*--------------------*/
/*Section-Cities*/
/*--------------------*/
.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    
}
.box h3{
    font-size: 90%;
    margin-left: 10px;
}
.city-features{
    margin-bottom: 5px;
    font-size: 85%;
    font-style: italic;
    line-height: 5px;
}
/*--------------------*/
/*Section-Testimonials*/
/*--------------------*/
.section-testimonials{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) , url(img/back-customers.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}
blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
}
blockquote::before{
    content: '\201C';
    font-size: 500%;
    display: block;
    position: absolute;
    color: #e67e22;
    top: 5px;
    left: -20px;
}
cite{
    display: block;
    margin-top: 25px;
    font-size: 90%;
}
cite img{
    height: 50px;
    width: auto;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
/*--------------------*/
/*Section-Plans*/
/*--------------------*/
.section-plans{
    background-color: #f4f4f4;
}
.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5px;
}
.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}
.plan-price span{
    font-size: 30%;
    font-weight: 300;
}
.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 5px 0;
}
.plan-box div:first-child{
    background-color: #e7e0e0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.plan-box div:last-child{
    text-align: center;
}
/*--------------------*/
/*Section-Form*/
/*--------------------*/
.contact-form{
    width: 60%;
    margin: 0 auto;
}
input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
input[type=checkbox]{
    margin: 10px 5px 10px 0;
}
*:focus{
    outline: none;
}
/*--------------------*/
/*Footer*/
/*--------------------*/
footer{
    background-color: #333;
    padding-top: 30px;
}
.footer-nav{
    list-style: none;
    float: left;
}
.footer-nav li,
.social-icons li{
    display: inline-block;
    margin-right: 20px;
}
.social-icons
{
    list-style: none;
    float: right;
}
.footer-nav a{
    text-decoration: none;
    color: #ccc;
}
footer p{
    text-align: center;
    color: #ccc;
    font-size: 85%;
    margin-top: 20px;
    padding-bottom: 35px;
}

/*--------------------*/
/*Animations*/
/*--------------------*/

.js--wp-1{
    opacity: 0;
}

.animate__animated .js--wp-1{
    opacity: 1;
}


.js--wp-2{
    opacity: 0;
}

.animate__animated .js--wp-2{
    opacity: 1;
}

